*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --prim-color:#3498db;
    --sec-color: #e74c3c;
    --third-color:#37bda0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 100vh;
     display: flex;
     flex-direction: column;
     /* background-color: var(--third-color); */
     background-color: rgba(19, 18, 18, 0.884);
}
 
.prompt{
     width: 120px;
     height: 40px;
     border: none;
     border-radius: 6px;
     /* background-color: var(--third-color); */
     color: rgb(2, 2, 2);
     margin: 2rem auto;
     text-transform: capitalize;
      
}
.prompt:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(230, 226, 14);
    cursor: pointer;
}

.head{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    color: white;
}
 
.container{
    width: 60vw;
    height: 60vh;
    background-color: rgb(202, 199, 193);
    border: 1 rem solid rgb(240, 71, 71);
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    
}

.cell{
    border: 1px solid rgb(255, 249, 249);
    box-sizing: border-box;
    
    
}
 